.referral-code-form {
    .referral-missing-error {
        display: none;
    }

    .referral-error {
        color: #c00;
        margin-top: 0.25rem;
    }
}

.hide-referral {
    display: none;
}
